.header-navigation-menu {
    background-color: #fff;

    &__ul {
        display: flex;
        justify-content: center;
        padding: 0;
        width: 100%;
        height: 5vh;
        list-style: none;
    }

    li {
        margin-right: 20px;
        line-height: 5vh;
        text-align: center;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
    }
}

.header-navigation-image {
    position: relative;
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-image: url(../../content/img/default.jpg);
    overflow: hidden;

    &--zwierzęta {
        background-image: url(../../content/img/animals.jpg);
        background-position: 50% 40%;
    }

    &--podróże {
        background-image: url(../../content/img/travels.jpg);
        background-position: 50% 40%;
    }

    &--kultura {
        background-image: url(../../content/img/culture.jpg);
        background-position: 50% 80%;
    }

    &--inne {
        background-image: url(../../content/img/other.jpg);
    }

    &--lifestyle {
        background-image: url(../../content/img/lifestyle.jpg);
        background-position: 50% 40%;
    }

    &__description {
        position: absolute;
        margin: 0;
        width: 150%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 48px;
        text-transform: uppercase;
    }

    &__text {
        position: absolute;
        right: -10%;
        top: 20%;
        transition-duration: 0.2s;
        overflow: hidden;

        &--hover {
            right: 0;
        }

        & span {
            background-color: rgba(255, 255, 255, 0.534);
        }
    }

}

header h1 {
    text-align: center;
}